body{
font-family: Arial, sans-serif;
margin:0;
background:#f5e8d6;
}

nav{
background:#0c2c54;
color:white;
padding:15px 50px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:500;
}

.logo{
font-size:24px;
font-weight:bold;
}

.hero{
background:#0c2c54;
color:white;
padding:100px 40px;
text-align:center;
}

button{
background:#e8d5b7;
border:none;
padding:12px 20px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.container{
padding:50px;
}

.card{
background:white;
padding:20px;
margin:15px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

input{
padding:10px;
width:250px;
margin:10px 0;
}

.time-slot{
background:#0c2c54;
color:white;
padding:12px;
margin:10px;
display:inline-block;
border-radius:6px;
cursor:pointer;
}

/* MAIN LAYOUT */
.main {
  display: flex;
  height: 90vh;
}

/* LEFT SIDE */
.login-box {
  width: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.login-box h2 {
  font-size: 28px;
  color: #1e3a8a;
}

.sub {
  margin: 10px 0 30px;
  color: #777;
}

/* FORM */
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

form button {
  width: 100%;
  padding: 12px;
  background: #1e3a8a; /* blue */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background: #16307a;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
}

.signup span {
  color: #1e3a8a;
  cursor: pointer;
}

/* RIGHT SIDE */
.visual {
  width: 50%;
  background: #eaddcf; /* beige tone */
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual img {
  width: 60%;
}
